language: julia
os:
  - linux
  - osx
julia:
  - 1.3
  - 1.5
  - nightly

matrix:
  allow_failures:
    - julia: nightly

notifications:
  email: false
# uncomment the following lines to override the default test script

after_success:
  # push coverage results to Codecov
  - julia -e 'using Pkg; cd(Pkg.dir("GraphPlot")); Pkg.add("Coverage"); using Coverage; Codecov.submit(Codecov.process_folder())'
